on:
  pull_request:
    paths:
      - '**.hs'

name: hlint
jobs:
  hlint:
    name: hlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: 9.6.7
          cabal-version: 3.12.1.0
          stack-version: 3.3.1
          enable-stack: true
      - run: stack --version

      - name: cache
        uses: actions/cache@v3
        env:
          cache-name: stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*') }}'
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-




# name: Haskell CI

# on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]

# permissions:
#   contents: read

# jobs:
#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v4
#     - uses: actions/setup-haskell@v1
#       with:
#         ghc-version: '8.10.3'
#         cabal-version: '3.2'

#     - name: Cache
#       uses: actions/cache@v3
#       env:
#         cache-name: cache-cabal
#       with:
#         path: ~/.cabal
#         key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}-${{ hashFiles('**/cabal.project') }}
#         restore-keys: |
#           ${{ runner.os }}-build-${{ env.cache-name }}-
#           ${{ runner.os }}-build-
#           ${{ runner.os }}-

#     - name: Install dependencies
#       run: |
#         cabal update
#         cabal build --only-dependencies --enable-tests --enable-benchmarks
#     - name: Build
#       run: cabal build --enable-tests --enable-benchmarks all
#     - name: Run tests
